services:
  app:
    build: 
      context: .
      dockerfile: Dockerfile
    image: wildfly
    ports:
      - "8080:8080"
      - "9990:9990"
    env_file:
      - .env

  db:
    image: postgres:latest
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes: 
      - db_data:/var/lib/postgresql/data